/* MAIN CONTAINER STYLES */
.container-file-uploader{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* FILE UPLOADER STYLES */
.wrapper{
    box-shadow: 0 0 10px #cccccc;
    padding: 24px;
    border-radius: 12px;
}

.border{
    border: 2px dashed #999999;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    margin: 12px 0;
}

.border-active{
    border: 2px dashed #E55807;
    padding: 28px;
    transition: all 0.3s;
}

.icon{
    font-size: 30px !important;
    margin: 0 0 12px 0;
}

.text{
    color: #333333;
    text-align: center;
}

.link{
    color: #30A2FF;
}

.file-text{
    margin: 12px 0px;
    font-size: 12px;
    font-weight: 700;
}


/* MEDIA QUERIES */
@media screen and (max-device-width: 640px) {
    .container-file-uploader{
        width: 90%;
    }
}